<a href="https://colab.research.google.com/github/MarcoZambrano/Inteligencia-Artificial-IA-/blob/main/Lunes10Junio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python3 --version

Python 3.10.12

In [ ]:
myNumber=3
myNumberDecimal=3.6
state=True

In [ ]:
print(f'valor entero={myNumber}')
print('valor entero es =',myNumber)
print(f'valor decimal={myNumberDecimal}')
print('valor bool es =', state)

valor entero=3
valor entero es = 3
valor decimal=3.6
valor bool es = True

In [ ]:
aux1=10
aux2=2

print('la suma de la variables aux1 + aux2 =', aux1+aux2)

la suma de la variables aux1 + aux2 = 12

In [ ]:
resultado = aux1 ** aux2
print(resultado)

100

In [ ]:
var1='hola'
var2='!, Marco'

print(var1+var2)

hola!, Marco

In [ ]:
print(3*var1)

holaholahola

In [ ]:
Number1=10
Number2=10.5
print('el tipo de numero es:', type(Number1))

el tipo de numero es: <class 'int'>

In [ ]:
print('el tipo de numero es:', type(Number2))

el tipo de numero es: <class 'float'>

In [ ]:
#MARTES 25 DE JUNIO DEL 2024
#tmp=list()
#tmp.append(2)
#print(tmp)
#tmp.append('Marco')
#print(tmp)

#tmp.append(2)
#print(tmp)
#tmp.append('Karen')
#print(tmp)
#print(tmp[3])
#aux=tmp[3]
# aux.capitalize()
# print(aux)
#print(aux.upper())

#tmpl='Hola'
#print(tmpl.capitalize())

#aux1=[1,2,3,4,5,6,7,8,9,10]
#print(aux1)

#aux1[4]=10
#print(aux1)

#print(aux1[-1])

#print(aux1[3:7])

#print(aux1[0:5])

#print(aux1[:5])

#aux2=list()
#for i in range(100):
#  aux2.append(i)
#print(aux2[:20])

#aux3=list()
#for indx, elem in enumerate(aux2):
#  if aux2[indx]%2==0:
#    aux3.append(aux2[indx])

#print(aux3)

animales=['gato','perro', 'mono', 'conejo']
for animal in animales:
  print(animal)

tmp3=[ i**2 for i in range(10) if  i%2==0]
print(tmp3)

gato
perro
mono
conejo
[0, 4, 16, 36, 64]

In [ ]:
myDictionary={'gato': 'lindo', 'perro':'grande'}
print(myDictionary['gato'])
myDictAux={'mono':'negro', 'raton': 'pequeño', 'conejo':'blanco'}
myDictionary.update(myDictAux)
print(myDictionary)
for key, value in myDictionary.items():
  #print(key)
  print(f'key : {key} value: {value}')


myList=[1,2,3,4,5,6]
myDictAux1={x:x**2 for x in myList}
print(myDictAux1)

lindo
{'gato': 'lindo', 'perro': 'grande', 'mono': 'negro', 'raton': 'pequeño', 'conejo': 'blanco'}
key : gato value: lindo
key : perro value: grande
key : mono value: negro
key : raton value: pequeño
key : conejo value: blanco
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
def suma(var1, var2, flag):
  if flag==True:
    tmp=var1+var2
  else:
      tmp=var1-var2
    #resta
  return tmp


num1=3
num2=7
control=True
print(suma(num1, num2, control))

10

In [ ]:
listNumeros= [-1,+1,0]

def numero_positivo_negativo(numero):
  if numero > 0:
    print(f'el numero {numero} es el positivo')
  elif numero < 0:
    print(f'el numero {numero} es negativo')
  else:
    print(f'el numero es cero')


print(numero_positivo_negativo(listNumeros[2]))

el numero es cero
None

In [ ]:
#SET AS A CONTAINER
var1=set()
var1.add(3)
print(var1)
var1.add('Marco')
var1.add(True)
print(var1)
var1.add(5)
print(var1)
var1.remove('Marco')
print(var1)

print(len(var1))

print(3 in var1)

for elem in var1:
  print(elem)

{3}
{'Marco', True, 3}
{'Marco', True, 3, 5}
{True, 3, 5}
3
True
True
3
5

In [ ]:
#TUPLES
var2=tuple()
var=(1,2,3,4,5)
print(type(var))
aux=list(var)
print(type(var))

aux[2]=300
var=tuple(aux)
print(var)
print(type(var))

<class 'tuple'>
<class 'tuple'>
(1, 2, 300, 4, 5)
<class 'tuple'>

In [ ]:
#HOW TO DEFINE A CLASS
class saludo(object):
  def __init__(self, name):
    print('THE OBJECT HAS BEEN CREATED')
    self.name=name

  def saludoPersona(self):
    return f'hola, {self.name}'


name1=saludo('Marco')
name2=saludo('Karen')
name3=saludo('Katherine')

print(name1.saludoPersona())
print(name2.saludoPersona())
print(name3.saludoPersona())

THE OBJECT HAS BEEN CREATED
THE OBJECT HAS BEEN CREATED
THE OBJECT HAS BEEN CREATED
hola, Marco
hola, Karen
hola, Katherine

In [ ]:
#CLASS

import math

class FiguraGeometrica:
  def __init__(self, radio, base, altura):
    self.radio=radio
    self.base=base
    self.altura=altura

  def calcularAreaCirculo(self):
    areaCirculo=math.pi * self.radio ** 2
    return areaCirculo

figura=FiguraGeometrica(radio=5, base=6, altura=4)
areaCirculo = figura.calcularAreaCirculo()
print(f'{areaCirculo:.2f}')

78.54

In [ ]:
class imprimir(object):
  def __init__(self, name, age):
    print(f"everything is well!!!!!!!")
    self.name=name
    self.age=age
  def uppercase(self):
    return f'Name: {self.name.upper()}'

student1=imprimir('Marco',23)

print(student1.uppercase())

everything is well!!!!!!!
Name: MARCO

In [ ]:
class Calculadora:
  def __init__(self, numero):
    self.numero = numero

  def sumar(self, otro_numero):
    resultado = self.numero + otro_numero
    self.imprimir_paridad(resultado)
    return resultado

  def restar(self, otro_numero):
    resultado = self.numero - otro_numero
    self.imprimir_paridad(resultado)
    return resultado

  def multiplicar(self, otro_numero):
    resultado = self.numero * otro_numero
    self.imprimir_paridad(resultado)
    return resultado

  def imprimir_paridad(self, numero):
    if numero % 2 == 0:
      print("El resultado es par")
    else:
      print("El resultado es impar")

# Ejemplo de uso
calculadora = Calculadora(10)
print(calculadora.sumar(3))  # Salida: 8, El resultado es par
print(calculadora.restar(2))  # Salida: 3, El resultado es impar
print(calculadora.multiplicar(4))  # Salida: 20, El resultado es par

El resultado es impar
13
El resultado es par
8
El resultado es par
40